# Terraform Stuff
terraform.tfstate.backup
.terraform
*.tfstate
.terraform*
azure_environment_variables.sh
main_variables.tf

# Othe files from Python and Node
.cosmos_permissions
DRAFT.txt
node_modules
.idea
.vscode
.project
__pycache__
*.final.json

