# Terraform Stuff
terraform.tfstate.backup
.terraform
*.tfstate
.terraform*

# Othe files from Python and Node
.cosmos_permissions
DRAFT.txt
node_modules
.idea
.vscode
.project
__pycache__
*.final.json

